body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: rgba(29, 5, 53, 0.523);
  ;
}*/

.container {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin-top: 1rem;
  background-color: gold;
}

/*.cont1 {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin-top: 1rem;
  background-color: gold;
  
}

.cont2 {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin-top: 1rem;
  background-color: gold;
  
}

.cont3 {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin-top: 1rem;
  background-color: gold;
 
}

.cont4 {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  
}*/

.title {
  text-align: center;

}

.container >h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.btn {
  background: url("C:\Users\Kenneth Valerio\Documents\Ministerio\Certificación Desarrollo Web\React ES6\proyectoreact\src\icons8-más-24.png") no-repeat scroll 0 0 transparent;
    float: left;
    width: 100px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(199, 199, 199);
    font-weight: bold;
    font-size: 15px;
    
}